# Compiled Object files
*.slo
*.lo
*.o
*.d
*.obj
# Precompiled Headers
*.gch
*.pch
# Compiled Dynamic libraries
*.so
*.dylib
*.dll
# Fortran module files
*.mod
# Compiled Static libraries
*.lai
*.la
*.a
*.lib
# Executables
*.exe
*.out
*.app
arch_flags
depends.sh
tags
# vim temp files
*.swp
# log files
*.log
*.out
*.result
*.opb
*.cnf
*.dimacs
*.ps
expEC/*
exp/*
log/*
# circuit files
*.aig
*.blif
*.bench
*.th
benchmarks/*
